<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getFull_name() + ', ' + person.getDob()}">VALUE</p>
<p th:text="${person.getPerson_id()}">VALUE</p>

<a th:href="@{/people/{person_id}/edit(person_id=${person.getPerson_id()})}">Edit</a>

<form th:method="DELETE" th:action="@{/people/{person_id}(person_id=${person.getPerson_id()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>